body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    justify-content: space-between;
}

.header {
    background-color: #263238;
    display: flex;
    font-size: 24px;
    color: #F9FAF8;

    justify-content: space-between;
    padding: 10px;
}

#title {
    margin: auto;
}

.footer {
    text-align: center;
    background-color: #37474F;
    color: #F9FAF8;
    padding: 10px 10% 10px 10%;
    margin-top: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#calculatorArea {
    height: 400px;
    width: 300px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1rem;
    display: block;
    flex-direction: column;
}

#calculatorArea > div {
    margin: 10px
}

#calcDisplay {
    border-style: solid;
    border-width: 1px;
    height: 40px;
}

#calcButtons {
    border-style: solid;
    border-width: 1px;
}